    #Permitir CORS

    #Header set Access-Control-Allow-Origin "*"
    #Header set Access-Control-Allow-Headers "*"
    #Header set Access-Control-Allow-Methods "*"


    # Activar RewriteEngine
    RewriteEngine on
    RewriteBase / 
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    

    RewriteRule ^login/?$ /login.php [L]
    RewriteRule ^exito-registro/?$ /login.php?exito=true [L]
    RewriteRule ^error-registro/?$ /login.php?error=true [L]
    RewriteRule ^desconectar/?$ /unsession.php [L]
    RewriteRule ^registro/?$ /register.php [L]
    #RewriteRule ^ajaxController/?$ /controller/ajaxController.php [L]



    RewriteRule ^principal/?$ /views/principal.php [L]
    RewriteRule ^partida/([a-zA-Z0-9-]*)?$ /views/partida.php?partida=$1 [L]

    RewriteCond %{REQUEST_URI} ^/socket.io [NC]
    RewriteCond %{QUERY_STRING} transport=websocket [NC]
    RewriteRule /(.*) ws://guinotesamunode.herokuapp.com:8080/$1 [P,L]

    ProxyPass /socket.io https://guinotesamunode.herokuapp.com:8080/socket.io
    #ProxyPassReverse /socket.io https://guinotesamunode.herokuapp.com:8080/socket.io